*{
    font-family: 'Ubuntu', sans-serif;
}
:root{
    --flex: flex;
    --jus-bt: space-between;
    --al-it: center;
}
main{
    width: 80%;
    margin: 0 auto;
}
body{
    background-color: #0F0F0F;
    color: #fff;
    margin: 0;
    padding: 0;
}
header{
    background-color: #272727;
    padding: 5px;
}
header main{
    display: var(--flex);
    justify-content: var(--jus-bt);
    align-items: var(--al-it);
}
nav{
    display: var(--flex);
    align-items: var(--al-it);
}
nav ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
nav ul li{
    padding: 10px;
    margin: 0px 5px;
    border-radius: 5px;
    transition: 0.5s;
}
nav ul li:hover{
    background-color: #ff1010;
}
.active{
    border-radius: 5px;
    transition: 0.5s;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
}
nav ul li a{
    text-decoration: none;
    padding: 10px;
    color: #fff;
}
i.fa-solid.fa-bars {
    padding: 10px;
}
.dropdown{
    display: none;
}
.area{
    width: 95%;
    margin: 0 auto;
}
.hero-area{
    display: inline-block;
    background-color: #272727;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
.hero-img-txt{
    display: -webkit-box;
}
.hero-img-txt img{
    width: 40px;
    border-radius: 50%;
    margin: 0px 16px;
}
.animation {
    width: 100%;
    height: 2px;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 10000;
    border:1px solid black;
  }
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    50%  {background-color:blue; left:00px; right:00px;}
    100% {background-color:red; left:0px; top:0px;}
  }

@media screen and (max-width: 890px){
    main{
        width: 100%;
    }
    header main {
        text-align: center;
    }
    nav {
        display: none;
    }
    iframe {
        width: 100%;
    }
    .area {
        width: 100%;
    }
    .hero-area {
        display: block;
    }
    .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #272727;
        color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
        z-index: 1;
        right: 0;
        text-align: start;
        border-radius: 10px;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      ul {
        list-style: none;
        padding-bottom: 10px;
    }
    ul li a{
        text-decoration: none;
        color: #fff;
    }
}
